.find-by-speciality{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    padding: 40px;
    color: #4b5563;
    text-align: center;
}


.speciality-container{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.speciality-container .picture-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.find-by-speciality .picture-wrapper{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    background:linear-gradient(to bottom, #87a2cc, #e2e5ed);
    padding: 10px;
}
.picture-wrapper img{
    width: 100%;
    height: 100%;
   
}

.picture-card{
    opacity: 1;
    transition: all 0.7s ease;
    cursor: pointer;
}

.picture-card:hover{
    opacity: 0.6;;
}

@media screen and (max-width: 768px) {
    .speciality-container{
        
        gap: 30px;
        margin-top: 20px;
        
    }
    .find-by-speciality{
        padding: 20px;
    }
    .picture-wrapper{
        width: 80px;
        height: 80px;
    }
    .picture-card p{
        font-size: 14px;
    }
}