.hero-section{
    background-color: #5F6FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    padding-bottom: 0;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-left{
    flex: 1;
}
.hero-right{
    flex: 1;
}
.hero-left h1{
    color: white;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
   
    
}
.hero-left p{
    color: white;
    font-size: 18px;
    line-height: 28px;
 
}
.hero-details img{
    width: 80px;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
}
.hero-details{
    display: flex;
    align-items: centre;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-right img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .hero-section{
        flex-direction: column-reverse;
        padding: 20px;
        margin-top: 0;
        border-radius: 0;
        gap:10px;
    }
    .hero-left h1{
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    .hero-details{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-left p{
        text-align: center;
    }
    button{
        width: 100%;
        justify-content: center;
    }
}