nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
nav ul{
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
    text-transform: uppercase;
}

