@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  background-color: white;
  max-width: 1280px;
  margin: auto;
}
*{
  margin: 0;
  font-family: 'Outfit', sans-serif;
  padding: 0;
  box-sizing: border-box;

}

.button-blue{
  background-color: #5F6FFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 47px;
  cursor: pointer;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  gap: 20px;
}
.button-blue:hover{
  background-color: white;
  color: #5F6FFF;
}
.button-white{
  background-color: white;
  color: #595959;
  padding: 10px 20px;
  border: none;
  border-radius: 47px;
  cursor: pointer;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  gap: 20px;
}
.button-white:hover{
  background-color: #5F6FFF;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
  transition: all 0.6s ease;
  
}
a:hover{
  opacity: 0.6;
}

